<div data-ng-controller="Task.AllTask">
    <div class="row">
        <div class="col-lg-12">
            <div id="content-header" class="clearfix">
                <div class="pull-left">
                    <ol class="breadcrumb">
                        <li><a href="">Home</a></li>
                        <li class="active"><span>My Task</span></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div ng-class="[{'col-lg-5': selectedIndex != -1},{'col-lg-12': selectedIndex == -1},'col-md-8','col-sm-6','col-xs-12']">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">My Task</h2>
                    <div class="icon-box pull-right">
                        <a href="" class="btn pull-left" ng-click="getMyTask()">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                </header>
                <div class="main-box-body clearfix">
                    <ul class="widget-todo" ng-repeat="tsk in myTaskList">
                        <li ng-class="['clearfix',{'task-highlight': $index == selectedIndex}]" ng-click="taskClick($index,tsk)">
                            <div class="name">
                                <div>
                                    <label>
                                        {{::tsk.Title}} <span ng-class="::['label',{'label-danger': 'High' == tsk.Priority},{'label-warning': 'Medium' == tsk.Priority},{'label-success': 'Low' == tsk.Priority}]">{{::tsk.Priority}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="actions">
                                <a href="" class="table-link" ng-click="editTaskOpen(tsk);">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-10 col-sm-6 col-xs-12" ng-show="selectedIndex != -1">
            <div class="main-box weather-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">Task Activity</h2>
                    
                    <div class="icon-box pull-right">
                        <a href="" class="btn pull-left" ng-click="deleteTaskOpen(TaskId);">
                            <i class="fa fa-eraser"></i>
                        </a>
                    </div>
                    <div class="icon-box pull-right">
                        <a href="" class="btn pull-left" ng-click="complete(TaskId)">
                            <i class="fa fa-check"></i>
                        </a>
                    </div>
                    <div class="icon-box pull-right">
                        <a href="" class="btn pull-left">
                            <i class="fa fa-tag"></i>
                        </a>
                    </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="conversation-wrapper">
                        <div class="conversation-content">
                            <div class="conversation-inner">
                                <div class="main-box">
                                    <div class="main-box-body clearfix">
                                        <div class="current" style="padding:0px">
                                            <div class="pull-left" style=" padding:10px">
                                                {{taskDescription}}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div ng-repeat="cmnt in myCommentList">
                                    <div ng-class="['conversation-item',{'item-right': cmnt.UserId != userId },{'item-left': cmnt.UserId == userId},'clearfix']">
                                        <div class="conversation-user">
                                            <img ng-src="{{cmnt.ProfileImage}}" alt="" />
                                        </div>
                                        <div class="conversation-body">
                                            <div class="name">
                                                {{cmnt.Name +' '+ cmnt.SurName}}
                                            </div>
                                            <div class="time hidden-xs">
                                                {{cmnt.CreationTime}}
                                            </div>
                                            <div class="text">
                                                {{cmnt.Comments}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="conversation-new-message">
                                <form>
                                    <div class="form-group">
                                        <textarea class="form-control" ng-model="txtComment" rows="2" placeholder="Enter your message..."></textarea>
                                    </div>
                                    <div class="clearfix">
                                        <button type="submit" class="btn btn-success pull-right" ng-click="putComment(TaskId)">Comment</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>