<div ng-cloak>
    <md-content class="" >
        <div layout="row" layout-wrap class="colorNested flex-wrap" >
            <div flex="33" class="flexbg" ng-repeat="hdr in allContractHdrPreview">
                <md-card>
                    <md-card-content>
                        <h2 class="md-title"><b>{{hdr.Title}}</b></h2>
                        <table>
                            <tr>
                                <td>Start date </td>
                                <td>:</td>
                                <td style="padding-left:10px;">{{hdr.StartDate}}</td>
                            </tr>
                            <tr>
                                <td>End date </td>
                                <td>:</td>
                                <td style="padding-left:10px;">{{hdr.EndDate}}</td>
                            </tr>
                            <tr>
                                <td>Budget </td>
                                <td>:</td>
                                <td style="padding-left:10px;">{{hdr.Budget}}</td>
                            </tr>
                            <tr>
                                <td>Category </td>
                                <td>:</td>
                                <td style="padding-left:10px;">{{hdr.Category}}</td>
                            </tr>
                            <tr>
                                <td>Stackholders </td>
                                <td>:</td>
                                <td style="padding-left:10px;">{{hdr.Stackholders}}</td>
                            </tr>
                        </table>
                        <p>

                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-raised" type="button">View</md-button>
                        <md-button class="md-raised" type="button">Edit</md-button>
                    </div>
                </md-card>
            </div>
        </div>
    </md-content>
</div>
<style>
    .flexbg{
        
        background-color:#f6f7e2;
    }
    md-card-content{
        min-height:150px;
    }
</style>