<div ng-cloak>
    <md-content class="" >
        <div layout="row" layout-wrap class="colorNested flex-wrap">
            <div flex="20" class="flexbg">
                <md-card>
                    <md-card-content>
                        <h2 class="md-title">Car Selling</h2>
                        <p>
                            The Seller hereby conveys to the Buyer full ownership and title to the motor vehicle described below:
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-raised" type="button">View</md-button>
                        <md-button class="md-raised" type="button">Edit</md-button>
                    </div>
                </md-card>
            </div>
            <div flex="30"class="flexbg">
                <md-card>
                    <md-card-content>
                        <h2 class="md-title">Personal Loan Contract</h2>
                        <p>
                            Failure to repay the Loan within {number of days} of {Date} will result in the matter	{being turned over to collection, addressed in court, etc.}.
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-raised" type="button">View</md-button>
                        <md-button class="md-raised" type="button">Edit</md-button>
                    </div>
                </md-card>
            </div>
            <div flex="50" class="flexbg">
                <md-card>
                    <md-card-content>
                        <h2 class="md-title">Payment Agreement Contract</h2>
                        <p>
                            By this contract, {Payer} agrees to make payments to {Payee},
                            hereafter known as "Lender," by the following schedule in exchange for
                            {Product/services rendered}. This payment schedule is enforceable by law,
                            and the methods described below will be use in cases of delinquent payment.
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-raised" type="button">View</md-button>
                        <md-button class="md-raised" type="button">Edit</md-button>
                    </div>
                </md-card>
            </div>
            <div flex="30" class="flexbg">
                <md-card>
                    <md-card-content>
                        <h2 class="md-title">Contract For Services Rendered</h2>
                        <p>
                            The Client hereby engages the Provider to provide services described herein under "Scope and Manner of Services." The Provider hereby agrees to provide the Client with such services in exchange for consideration described herein under "Payment for Services Rendered."
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-raised" type="button">View</md-button>
                        <md-button class="md-raised" type="button">Edit</md-button>
                    </div>
                </md-card>
            </div>
        
            <div flex="70" class="flexbg">
                <md-card>
                    <md-card-content>
                        <h2 class="md-title">Rent To Own Contract</h2>
                        <p>
                            Now, therefore, the parties agree as follows:
                            <ul>
                                <li>Renter shall pay Owner the sum of $X on MM/DD/YYYY and the same sum on the Nth day of each month for rental of the property.</li>
                                <li>If payment is late by more than three days, a late fee of $X shall be due immediately from Renter.</li>
                                <li>The parties agree that the purchase price of the property is $X.</li>
                            </ul>
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-raised" type="button">View</md-button>
                        <md-button class="md-raised" type="button">Edit</md-button>
                    </div>
                </md-card>
            </div>
            <div flex="50" class="flexbg">
                <md-card>
                    <md-card-content>
                        <h2 class="md-title">INVESTMENT AGREEMENT</h2>
                        <p>
                            This Amendment No. 1, dated as of June 10, 2008 (this "Amendment"), among MF Global Ltd., a Bermuda exempted company (the "Company"), and J.C. Flowers II L.P. (the "Investor"), amends the Investment Agreement (the "Investment Agreement"), dated as of May 20, 2008, between the Company and the Investor. Capitalized terms used but not otherwise defined herein shall have the respective meanings given to them in the Investment Agreement.
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-raised" type="button">View</md-button>
                        <md-button class="md-raised" type="button">Edit</md-button>
                    </div>
                </md-card>
            </div>
            <div flex="60" class="flexbg">
                <md-card>
                    <md-card-content>
                        <h2 class="md-title">Sourcefire Inc. and Nokia Inc.</h2>
                        <p>
                            <b>This OEM and Distributor Agreement ("Agreement") is made and entered </b>
                            into as of this 14th day of July, 2006 (the "Effective Date") by and between Sourcefire, Inc.,
                            a Delaware corporation with its principal place of business at 9770 Patuxent Woods Drive,
                            Columbia, Maryland 21046 ("Sourcefire"), and Nokia Inc., a Delaware corporation, by and through
                            its Enterprise Solutions business group, with its principal office at 102 Corporate Park Drive,
                            White Plains, New York 10604 ("Nokia").
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-raised" type="button">View</md-button>
                        <md-button class="md-raised" type="button">Edit</md-button>
                    </div>
                </md-card>
            </div>
            <div flex class="flexbg">
                <md-card>
                    <md-card-content>
                        <h2 class="md-title">Contract For Services Rendered</h2>
                        <p>
                            The Client hereby engages the Provider to provide services described herein under "Scope and Manner of Services." The Provider hereby agrees to provide the Client with such services in exchange for consideration described herein under "Payment for Services Rendered."
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-raised" type="button">View</md-button>
                        <md-button class="md-raised" type="button">Edit</md-button>
                    </div>
                </md-card>
            </div>
        </div>
    </md-content>
</div>
<style>
    .flexbg{
        
        background-color:#f6f7e2;
    }
    md-card-content{
        min-height:180px;
    }
</style>